USE [master]
GO
/****** Object:  Database [test2]    Script Date: 7/10/2022 9:42:57 PM ******/
CREATE DATABASE [test2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\test2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\test2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test2]
GO
/****** Object:  Table [dbo].[tbAccount]    Script Date: 7/10/2022 9:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAccount](
	[STT] [int] NULL,
	[Account] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[Bookie] [nvarchar](50) NULL,
	[Bot] [nvarchar](50) NULL,
	[Chanel] [nvarchar](50) NULL,
	[Rule] [bigint] NULL,
	[State] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDashboard]    Script Date: 7/10/2022 9:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDashboard](
	[STT] [int] NULL,
	[Account] [nvarchar](50) NULL,
	[Bookie] [nvarchar](50) NULL,
	[Channel] [nvarchar](50) NULL,
	[Rule] [int] NULL,
	[S] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
